    <!-- Shoping Cart Section Begin -->

<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="basketBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-controller="Shop" asp-action="Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a asp-controller="Shop" asp-action="Basket" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                @*<div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>*@
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        @*<li>Subtotal <span>$454.98</span></li>*@
                        <li>Total <span class="totalPrice"></span> AMD</li>
                    </ul>
                    <a asp-controller="Order" asp-action="CheckOut" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shoping Cart Section End -->
<script>

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "/Product/GetProductsById",
            dataType: 'text',
            beforeSend: function (xhr) { // for ASP.NET auto deserialization
                xhr.setRequestHeader("Content-type", "application/json");
            },
            data: JSON.stringify({ idList: baskets.GetIds() }),
            statusCode: {
                401: function () {
                    location.reload();
                }
            },
            success: function (res, textStatus, xhr) {
                if (textStatus == "success") {
                    let list = JSON.parse(res);
                    if (list.length < 1) {
                        return;
                    }
                    let html = '';
                    for (let i in list) {
                        let product = list[i];
                        console.log(product);
                        html += ''
                            + '<tr id="curProduct' + product.id + '" data-id="' + product.id + '" class="productItems" >'
                            + '<td class="shoping__cart__item">'
                            + ' <img src="data:image/png;base64,' + product.imageBase64 + ' " alt="">'
                            + '      <h5>' + product.name + '</h5>'
                            + '  </td>'
                            + '  <td class="shoping__cart__price price">'
                            + ' ' + product.price + ''
                            + '  </td>'
                            + '  <td class="shoping__cart__quantity">'
                            + '      <div class="quantity">'
                            + '          <div class="pro-qty">'
                            + '              <input type="text" value="' + baskets.ProductList[i].Quantity+'">'
                            + '          </div>'
                            + '          </div>'
                            + '  </td>'
                            +'<td class="shoping__cart__total together" id="TotalItem[' + i + ']">' + product.price * baskets.ProductList[i].Quantity
                            + '  </td>'
                            + '      <td class="shoping__cart__item__close">'
                            + '          <span class="icon_close remove-item remProduct" data-id="' + product.id + '"></span>'
                            + '      </td>'
                            + '</tr>'


                    }
                    $(".basketBody").html(html);

                    baskets.BindEvents();
                }
            },
            error: function (xhr, textStatus, err) {
                callback(null);
            }
        });
    });
</script>