@inject MicShop.Services.Interfaces.IUserService UserService
@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
}<section class="checkout spad">
    <div class="container">
        <div class="final-order">
            <div class="row loginForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @{await Html.RenderPartialAsync("PartialLoginView");}
                @{await Html.RenderPartialAsync("PartialRegisterView");}
            </div>
        </div>
    </div>

</section>
