@model MicShop.Core.Entities.CartModel
     <!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        @*<div class="row">
                <div class="col-lg-12">
                    <h6>
                        <span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                    </h6>
                </div>
            </div>*@
        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form asp-controller="Order" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    @{await Html.RenderPartialAsync("CheckOutUserDataPartialView");}
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul class="productBody">
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>$750.99</span></div>
                            <div class="checkout__order__total">Total <span>$750.99</span></div>
                            <div class="checkout__input__checkbox">
                                <label for="acc-or">
                                    Create an account?
                                    <input type="checkbox" id="acc-or">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.
                            </p>
                            <div class="checkout__input__checkbox">
                                <label for="payment">
                                    Check Payment
                                    <input type="checkbox" id="payment">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="paypal">
                                    Paypal
                                    <input type="checkbox" id="paypal">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>

                </div>

            </form>
    </div>
    </div>
</section>
<!-- Checkout Section End -->
<script>

    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: "/Product/GetProductsByIdList",
            dataType: 'text',
            beforeSend: function (xhr) { // for ASP.NET auto deserialization
                xhr.setRequestHeader("Content-type", "application/json");
            },
            data: JSON.stringify({ idList: baskets.GetIds() }),
            statusCode: {
                401: function () {
                    location.reload();
                }
            },
            success: function (res, textStatus, xhr) {
                if (textStatus == "success") {
                    let list = JSON.parse(res);
                    if (list.length < 1) {
                        return;
                    }
                    let html = '';
                    for (let i in list) {
                        let product = list[i];
                        console.log(product);
                        html += ''
                            + '<li>' + product.name + '<span>' + product.price + ' </span></li>'
                            + '<input type="hidden" value=' + product.id + ' name="ItemList[' + i + '].ProductId">'
                            + '<input type="hidden" value=' + baskets.ProductList[i].Quantity + ' name="ItemList[' + i + '].Quantity">'
                    }
                    $(".productBody").html(html);

                    baskets.BindEvents();
                }
            },
            error: function (xhr, textStatus, err) {
                callback(null);
            }
        });
    });
</script>